In [1]:
from myfunctions import *

In [2]:
df, dss_names = read_in_df('/Users/clairemarie/Desktop/CoEqwal/Correct Folder Nesting/output/convert/convert_EDA_data_10_01_24.csv','/Users/clairemarie/Desktop/CoEqwal/Correct Folder Nesting/data/metrics/EDA_10_01_24_dss_names.csv')
df.head()

A                    CALSIM                                   \
B          COREQSACDV_S0000 CO_EC_MONTH_S0000 C_AMR004_S0000
C                      FLOW          SALINITY        CHANNEL
D                      1MON              1MON           1MON
E                    L2020A            L2020A         L2020A
F                  PER-AVER          PER-AVER       PER-AVER
Units                   CFS          UMHOS/CM            CFS
1921-10-31              0.0         2173.8484      3413.1506
1921-11-30              0.0         1444.8396      1879.9095
1921-12-31              0.0         3810.6936      2018.9040
1922-01-31              0.0         6766.5405      1700.1637
1922-02-28              0.0         1916.7603      3810.1155

A                                                                \
B          C_CAA003_CVP_S0000 C_CAA003_SWP_S0000 C_CHW017_S0000
C               FLOW-DELIVERY      FLOW-DELIVERY        CHANNEL
D                        1MON               1MON           1MON
E                      L2020A             L2020A         L2020A
F                    PER-AVER           PER-AVER       PER-AVER
Units                     CFS                CFS            CFS
1921-10-31             0.0000          2386.0586       0.000000
1921-11-30          1992.1262          3152.6128       0.084717
1921-12-31             0.0000          7400.6836       6.398305
1922-01-31             0.0000          3135.4710       6.022529
1922-02-28             0.0000          5207.1123     393.907380

A                                                                      ...  \
B          C_CLV004_S0000 C_DMC003_S0000 C_EBP016_S0000 C_FOLSM_S0000  ...
C                 CHANNEL        CHANNEL        CHANNEL       CHANNEL  ...
D                    1MON           1MON           1MON          1MON  ...
E                  L2020A         L2020A         L2020A        L2020A  ...
F                PER-AVER       PER-AVER       PER-AVER      PER-AVER  ...
Units                 CFS            CFS            CFS           CFS  ...
1921-10-31       0.958765       800.0000      11.597759     3617.7950  ...
1921-11-30       0.046577      4598.6390      18.277239     2016.0187  ...
1921-12-31     179.064130      4598.6080     509.976840     1934.8564  ...
1922-01-31      39.184666      4598.2017      98.915190     1730.9570  ...
1922-02-28    1826.513000      4597.0503     645.834170     3751.4626  ...

A                                                           \
B          DEL_CVP_TOTAL_S_S0005_TAF DEL_SWP_PIN_S0005_TAF
C                       DELIVERY-CVP          DELIVERY-SWP
D                               1MON                  1MON
E                             L2020A                L2020A
F                           PER-AVER              PER-AVER
Units                            TAF                   TAF
1921-10-31                217.099912              1.429997
1921-11-30                115.100017              1.429997
1921-12-31                 85.233680              9.139983
1922-01-31                104.435579              9.139983
1922-02-28                 60.858843              0.000000

A                                                          \
B          DEL_SWP_TOTA_S0005_TAF DEL_SWP_TOT_S_S0005_TAF
C                    DELIVERY-SWP            DELIVERY-SWP
D                            1MON                    1MON
E                          L2020A                  L2020A
F                        PER-AVER                PER-AVER
Units                         TAF                     TAF
1921-10-31             352.153587              350.688568
1921-11-30             304.954936              303.321949
1921-12-31             282.815807              281.128812
1922-01-31              55.064762               53.377766
1922-02-28              50.578084               49.054088

A                                                                    \
B          DEL_TOT_PSC_N_S0005_TAF NDO_S0005_TAF NDOI_ADD_S0005_TAF
C                     DELIVERY-TOT      FLOW-NDO               FLOW
D                             1MON          1MON               1MON
E                           L2020A        L2020A             L2020A
F                         PER-AVER      PER-AVER           PER-AVER
Units                          TAF           TAF                TAF
1921-10-31               64.167303    576.445248           0.000000
1921-11-30               90.022551    277.838279          10.070148
1921-12-31               65.079014    935.193043         658.499324
1922-01-31               26.766970    967.108311         598.183352
1922-02-28                2.640140   2653.430286        2020.307454

A
B          NDOI_ADD_CVP_S0005_TAF NDOI_MIN_S0005_TAF SWPTOTALDEL_S0005_TAF
C                    FLOW-CHANNEL               FLOW         FLOW-DELIVERY
D                            1MON               1MON                  1MON
E                          L2020A             L2020A                L2020A
F                        PER-AVER           PER-AVER              PER-AVER
Units                         TAF                TAF                   TAF
1921-10-31               0.000000         576.445248            352.992731
1921-11-30               0.000000         267.768115            305.068713
1921-12-31             323.656864         276.693719            289.158568
1922-01-31             304.481411         368.924959             63.792180
1922-02-28            1117.313515         633.122832             52.002164

[5 rows x 956 columns]

In [3]:
# Shasta Annual Avg.
shasta_ann_avg_df = ann_avg(df, dss_names, "S_SHSTA_", "TAF")
shasta_ann_avg_df.head()

   Ann_Avg_S_SHSTA_
0       3333.248068
1       3330.685860
2       3219.552636
3       2943.619492
4       2818.559097

In [4]:
# Shasta Annual 10th percentile
shasta_10_pct = ann_pct(df, dss_names, 0.1, "S_SHSTA_", "TAF", "10per_S_SHSTA_TAF")
shasta_10_pct

   10per_S_SHSTA_TAF
0       30085.857350
1       29316.302430
2       26172.808557
3       19728.947056
4       18219.710851
5       16755.082256

In [5]:
# Shasta April Avg
shasta_apr_avg = mnth_avg(df, dss_names, "S_SHSTA_", "TAF", 4)
shasta_apr_avg

   Apr_Avg_S_SHSTA_
0       4057.809370
1       4048.634597
2       3932.366307
3       3717.534064
4       3602.118295
5       3528.082795

In [6]:
# Shasta all month Avg's
shasta_moy_avgs = moy_avgs(df, dss_names, "S_SHSTA_", "TAF")
shasta_moy_avgs

   Month  Avg_S_SHSTA_
0    Jan   2974.554646
1    Feb   3216.693033
2    Mar   3554.839743
3    Apr   3814.424238
4    May   3797.794530
5    Jun   3523.633533
6    Jul   3008.947120
7    Aug   2691.566440
8    Sep   2541.495041
9    Oct   2484.668412
10   Nov   2487.640510
11   Dec   2681.218551

In [7]:
# Shasta Apr 10th percentile
shasta_apr_10_pct = mnth_pct(df, dss_names, "S_SHSTA_", 0.1, "TAF", "S_SHASTA_10_pct", 4)
shasta_apr_10_pct

   S_SHASTA_10_pct
0       3138.96662
1       2988.21141
2       2804.26550
3       2388.42869
4       2174.41759
5       1981.23583

In [8]:
# Shasta annual totals
shasta_ann_totals = annual_totals(df, dss_names, "S_SHASTA_")
shasta_ann_totals

In [10]:
test = create_subset_var(df, "S_SHASTA_")
test

Empty DataFrame
Columns: []
Index: [1921-10-31 00:00:00, 1921-11-30 00:00:00, 1921-12-31 00:00:00, 1922-01-31 00:00:00, 1922-02-28 00:00:00, 1922-03-31 00:00:00, 1922-04-30 00:00:00, 1922-05-31 00:00:00, 1922-06-30 00:00:00, 1922-07-31 00:00:00, 1922-08-31 00:00:00, 1922-09-30 00:00:00, 1922-10-31 00:00:00, 1922-11-30 00:00:00, 1922-12-31 00:00:00, 1923-01-31 00:00:00, 1923-02-28 00:00:00, 1923-03-31 00:00:00, 1923-04-30 00:00:00, 1923-05-31 00:00:00, 1923-06-30 00:00:00, 1923-07-31 00:00:00, 1923-08-31 00:00:00, 1923-09-30 00:00:00, 1923-10-31 00:00:00, 1923-11-30 00:00:00, 1923-12-31 00:00:00, 1924-01-31 00:00:00, 1924-02-29 00:00:00, 1924-03-31 00:00:00, 1924-04-30 00:00:00, 1924-05-31 00:00:00, 1924-06-30 00:00:00, 1924-07-31 00:00:00, 1924-08-31 00:00:00, 1924-09-30 00:00:00, 1924-10-31 00:00:00, 1924-11-30 00:00:00, 1924-12-31 00:00:00, 1925-01-31 00:00:00, 1925-02-28 00:00:00, 1925-03-31 00:00:00, 1925-04-30 00:00:00, 1925-05-31 00:00:00, 1925-06-30 00:00:00, 1925-07-31 00:00:00, 1925-08-31 00:00:00, 1925-09-30 00:00:00, 1925-10-31 00:00:00, 1925-11-30 00:00:00, 1925-12-31 00:00:00, 1926-01-31 00:00:00, 1926-02-28 00:00:00, 1926-03-31 00:00:00, 1926-04-30 00:00:00, 1926-05-31 00:00:00, 1926-06-30 00:00:00, 1926-07-31 00:00:00, 1926-08-31 00:00:00, 1926-09-30 00:00:00, 1926-10-31 00:00:00, 1926-11-30 00:00:00, 1926-12-31 00:00:00, 1927-01-31 00:00:00, 1927-02-28 00:00:00, 1927-03-31 00:00:00, 1927-04-30 00:00:00, 1927-05-31 00:00:00, 1927-06-30 00:00:00, 1927-07-31 00:00:00, 1927-08-31 00:00:00, 1927-09-30 00:00:00, 1927-10-31 00:00:00, 1927-11-30 00:00:00, 1927-12-31 00:00:00, 1928-01-31 00:00:00, 1928-02-29 00:00:00, 1928-03-31 00:00:00, 1928-04-30 00:00:00, 1928-05-31 00:00:00, 1928-06-30 00:00:00, 1928-07-31 00:00:00, 1928-08-31 00:00:00, 1928-09-30 00:00:00, 1928-10-31 00:00:00, 1928-11-30 00:00:00, 1928-12-31 00:00:00, 1929-01-31 00:00:00, 1929-02-28 00:00:00, 1929-03-31 00:00:00, 1929-04-30 00:00:00, 1929-05-31 00:00:00, 1929-06-30 00:00:00, 1929-07-31 00:00:00, 1929-08-31 00:00:00, 1929-09-30 00:00:00, 1929-10-31 00:00:00, 1929-11-30 00:00:00, 1929-12-31 00:00:00, 1930-01-31 00:00:00, ...]

[1200 rows x 0 columns]

In [16]:
subset_df = create_subset_unit(df, "DEL_SWP_TOTAL", "TAF")
subset_df.index.year

Index([1921, 1921, 1921, 1922, 1922, 1922, 1922, 1922, 1922, 1922,
       ...
       2020, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021],
      dtype='int32', length=1200)

In [19]:
var_df = create_subset_unit(df, "S_SHASTA_", "TAF")
all_years_totals = [var_df.index.year]
for year in var_df.index.year:
    metrics = []
    # for each study in dss_name
    for study_index in np.arange(0, len(dss_names)):

[Index([1921, 1921, 1921, 1922, 1922, 1922, 1922, 1922, 1922, 1922,
        ...
        2020, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021],
       dtype='int32', length=1200)]

In [31]:
var_df = create_subset_unit(df, "S_SHASTA_", "TAF")
all_years_totals = var_df.index.year.tolist()
# range(1, len(var_df.index.year))
#for year in var_df.index.year:
for year in all_years_totals:
    metrics = []
    for study_index in np.arange(0, len(dss_names)):
        #metric_val = compute_annual_sums(var_df, "S_SHASTA_", study_index, "TAF", months=None)
        metrics.append(metric_val)
metrics

IndexError: single positional indexer is out-of-bounds